@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

#root {
	height: 100%;
	background-color: #dee2e6;
	display: grid;
	grid-template-columns: 600px 1fr;
	overflow: auto;
}

.information {
	font-family: "Montserrat", sans-serif;
	background-color: #f8f9fa;
	padding: 15px 40px;
	overflow: auto;
}

.information::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.information::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

.information::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgba(85, 85, 85, 0.4);
}

.information > p:nth-child(2) {
	margin-top: 15px;
}

.personal-details,
.education-details {
	margin-top: 20px;
}

.work-details {
	margin-top: 10px;
}

.personal-details > h2,
.education-details > h2,
.work-details > h2 {
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}

.input-field {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

label {
	font-weight: 500;
	width: max-content;
}

input {
	font-family: "Montserrat";
	background-color: rgb(243, 244, 246);
	padding: 10px;
	height: 20px;
	border: 1px solid #ccc;
	outline: 0;
	border-radius: 15px;
}

textarea {
	font-family: "Montserrat";
	resize: none;
	background-color: rgb(243, 244, 246);
	padding: 10px;
	height: 50px;
	border: 1px solid #ccc;
	outline: 0;
	border-radius: 15px;
}

textarea:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}

input:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}

.date {
	display: flex;
	justify-content: space-between;
}

.date input {
	width: 210px;
}

.education-item,
.experience-item {
	cursor: default;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 10px;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.15s ease-in-out;
}

.education-item:hover,
.experience-item:hover {
	transform: translateY(-3px);
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}

.education-item > div:first-child,
.experience-item > div:first-child {
	display: flex;
	flex-direction: column;
}

.education-item > div:first-child > p:first-child,
.experience-item > div:first-child > p:first-child {
	font-weight: 500;
}

.education-item > div:first-child > p:last-child,
.experience-item > div:first-child > p:last-child {
	font-size: 0.85rem;
}

.education-item > div:last-child,
.experience-item > div:last-child {
	display: flex;
	gap: 10px;
}

.education-item img,
.experience-item img {
	height: 1.25rem;
	cursor: pointer;
}

.addEducation,
.addExperience {
	display: flex;
	justify-content: flex-end;
}

.addEducation-btn,
.addExperience-btn {
	background-color: #f8f9fa;
	padding: 3px;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 3px;
	border: none;
	cursor: pointer;
}

.addEducation-btn > img,
.addExperience-btn > img {
	height: 1.25rem;
}

.buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.cancel-save {
	display: flex;
	gap: 15px;
}

.buttons button {
	cursor: pointer;
	background-color: #f8f9fa;
	padding: 5px 20px;
	border-radius: 5px;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 1px;
}

.delete {
	border: 2px solid #c33764;
	color: #c33764;
	transition: all 0.25s ease-in-out;
}

.delete:hover {
	background-color: #c33764;
	color: #f8f9fa;
}

.cancel,
.save {
	border: 2px solid #155799;
	color: #155799;
	transition: all 0.25s ease-in-out;
}

.cancel:hover,
.save:hover {
	background-color: #155799;
	color: #f8f9fa;
}

.preview {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #dee2e6;
}

.cv {
	break-after: avoid;
	font-family: "Calibri", "Helvetica", sans-serif;
	height: 700px;
	width: 600px;
	background-color: #fff;
}

.cv-header {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
	height: 80px;
	background-color: rgb(14, 55, 78);
	color: white;
}

.cv-header > h1 {
	text-align: center;
	font-weight: 1000;
}

.cv-header > div {
	font-weight: 600;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.cv-header > div > div {
	display: flex;
	gap: 3px;
	align-items: flex-start;
}

.cv-details {
	padding: 20px 40px;
}

.cv-details h3 {
	text-align: center;
	color: rgb(14, 55, 78);
	background-color: rgba(14, 55, 78, 0.07);
	margin-bottom: 10px;
}

.cv-education > div {
	display: grid;
	grid-template-columns: 150px 1fr;
	margin-bottom: 10px;
}

.preview-date,
.preview-location {
	font-size: 0.93rem;
}

.cv-experience {
	margin-top: 20px;
}

.cv-experience > div {
	display: grid;
	grid-template-columns: 150px 1fr;
	margin-bottom: 10px;
}

.cv-experience > div > div:last-child > p:last-child {
	font-size: 0.9rem;
	margin-top: 3px;
}

.download {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	background-color: rgb(0, 107, 179);
	opacity: 0.8;
	padding: 10px;
	border: none;
}

.download:hover {
	opacity: 1;
}

.download > img {
	width: 2.5rem;
	height: 2.5rem;
}
